body {
  background-image: url("../images/achtergrond3.png");
  background-size: cover;
  margin: 0px;
  padding: 0px;
}
#navbar {
  width: 100%;
  height: auto;
  background-color: #00555c;
  position: sticky;
  top: 0;
  height: 80px;
}
#navbar a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 30px 50px;
  font-size: 20px;
}
/* #navbar{
    width:83%;
    height:100px;
    float: right;
    position:sticky;
    top:0px;
    background-color: #e56a54;
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 30px 50px;
    font-size: 20px;
} */
/* #navbar a{
    display:inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} */
#navbar a:hover {
  background-color: #00555c;
}
.logovista {
  height: 100px;
}
#footer {
  width: 100%;
  height: 100px;
  background-color: #e56a54;
  /* position: fixed; */
  vertical-align: middle;
  line-height: 84px;
  margin-top: 182px;
}
.contentItem {
  width: 300px;
  height: 330px;
  box-shadow: 0px 0px 25px lightgrey;
  padding: 10px;
}
.test {
  width: 300px;
  height: 300px;
  display: inline-block;
}
.button {
  display: inline-block;
  width: 300px;
  height: 30px;
  background-color: red;
}
#filter {
  margin: 0;
  padding: 0;
  width: 100px;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 80px;
  border: 1px solid black;
  background-color: red;
}
#menu {
  display: flex;
  flex-wrap: wrap;
}
#contact {
  top: 50px;
  left: 150px;
  position: relative;
}
#auto {
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
}
